<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/findartifact.css">
  </head>
  <body>
    <div id="main" class="container">
      <div class="page-header">
        <p>Find Artifact is a simple Maven Repository search tool. It's goal is best explained in how it differs from existing ones:</p>
        <ul>
          <li>it has extremely simple and bloat-free user interface</li>
          <li>it allows searching over multiple repositories at once (Maven Cnetral, Sonatype, etc.) *</li>
          <li>it shows always up-to-date information</li>
        </ul>

        <p>But certainly the real reason for this tool to exist is because I wanted to try out Clojure on some application. Find Artifact
        is open source and you can find it on <a href="https://github.com/candidtim/find-artifact">GitHub</a>.</p>

        <p>Inside, Find Artifact is as simple as outside: it uses REST APIs from various repositories, proxies search queries to them
        and shows the merged result. (Hence the up-to-date information compared to other search engines which manage their own index).</p>

        <p>If you would like to add more repositories into the scope, please, feel free to create an issue or a pull request on GitHub.</p>

        <p>* Note, that in current version, Find Artifact, only searches the Maven Central and support for more repositories is
        coming soon.</p>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <span><a href="/" class="logo">find artifact</a></span>
        </div>
      </div>
    </div>
  </body>
</html>
