<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>
    <div id="main" class="container">
      <div class="page-header row">
        Search dependencies over <strong><abbr title="currently, only maven central is in the scope and more repositories are coming soon!">all known</abbr></strong> maven repositories
      </div>
      <div id="search" class="row"></div>
      <div class="row">
        <small>For example: <a href='search?q=slf4j'>slf4j</a>, <a href='search?q=javax.servlet'>javax.servlet</a>, <a href='search?q=jetty'>jetty</a></small>
      </div>
    </div>
  </body>
</html>
